/* line 5, ../sass/fortyfour.scss */
body {
  background: #efefef;
}

/* line 10, ../sass/fortyfour.scss */
#page {
  background: #efefef url(../images/dashboard_header.png) center top no-repeat;
}

/* line 13, ../sass/fortyfour.scss */
.banner-bg {
  background: url(../images/topbarbg.png) top left repeat-x;
}

/* line 16, ../sass/fortyfour.scss */
#banner {
  background: url(../images/topbarbg.png) top left repeat-x;
  height: 31px;
}

/* line 20, ../sass/fortyfour.scss */
a#return {
  background: url(../images/flag.png) top left no-repeat;
  padding-left: 30px;
  color: #CCF;
  float: left;
  font: 0.75em arial;
  margin: 6px 0px 6px 10px;
}

/* line 28, ../sass/fortyfour.scss */
#logo {
  padding-top: 40px;
  padding-bottom: 65px;
}

/* line 32, ../sass/fortyfour.scss */
#page {
  position: relative;
}

/* line 35, ../sass/fortyfour.scss */
.seal {
  position: absolute;
  top: -25px;
  text-align: center;
  width: 100%;
}

/* line 41, ../sass/fortyfour.scss */
.takeover .block {
  margin: 0;
}

/* line 44, ../sass/fortyfour.scss */
p, pre {
  font-size: 13px;
  line-height: 20px;
}
