/* line 5, ../sass/fourtyfour.scss */
body {
  background: #efefef;
}

/* line 12, ../sass/fourtyfour.scss */
#page {
  background: #efefef url(../images/oval-office.png) center top no-repeat;
}

/* line 15, ../sass/fourtyfour.scss */
.banner-bg {
  background: url(../images/topbarbg.png) top left repeat-x;
}

/* line 18, ../sass/fourtyfour.scss */
#banner {
  background: url(../images/topbarbg.png) top left repeat-x;
}

/* line 21, ../sass/fourtyfour.scss */
a#return {
  background: url(../images/flag.png) top left no-repeat;
  padding-left: 30px;
  color: #CCF;
  float: left;
  font: 0.75em arial;
  margin: 8px 0px 8px 10px;
}

/* line 29, ../sass/fourtyfour.scss */
#logo {
  padding-top: 40px;
  padding-bottom: 65px;
}

/* line 33, ../sass/fourtyfour.scss */
#page {
  position: relative;
}

/* line 36, ../sass/fourtyfour.scss */
.seal {
  position: absolute;
  top: -25px;
  text-align: center;
  width: 100%;
}

/* line 42, ../sass/fourtyfour.scss */
.takeover .block {
  margin: 0;
}

/* line 45, ../sass/fourtyfour.scss */
p, pre {
  font-size: 13px;
  line-height: 20px;
}
