// Forty-four specific variables.
//
// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// The height of the navigation container.
$nav-height: 3em;

// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;


// Import sixteenhundred, which contains all our sitewide variables, mixins,
// compass dependencies, etc.
@import "sixteenhundred/stylesheets/sixteenhundred";

// Add any custom mixins.
@import "mixins";
