/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 43, ../../sass/layouts/fixed-width.scss */
#page,
.region-bottom, .region-banner, .takeover, #header, #main-nav, .footer-inner, #drop-nav {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  width: 976px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 60, ../../sass/layouts/fixed-width.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  border: 0 !important;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
/* line 78, ../../sass/layouts/fixed-width.scss */
#navigation {
  position: absolute;
  top: 0;
  /* Move the navbar up inside #main's padding. */
  height: 3em;
  width: 980px;
}

/*
 * The layout when there are no sidebars.
 */
/* line 89, ../../sass/layouts/fixed-width.scss */
#content {
  width: 980px;
}

/*
 * The layout when there is only one sidebar, the left one.
 */
/* line 98, ../../sass/layouts/fixed-width.scss */
.sidebar-first #content {
  /* Span 4 columns, starting in 2nd column from left. */
  float: left;
  width: 764px;
  margin-left: 196px;
  margin-right: -980px;
}
/* line 102, ../../sass/layouts/fixed-width.scss */
.sidebar-first .region-sidebar-first {
  /* Span 1 column, starting in 1st column from left. */
  float: left;
  width: 176px;
  margin-left: 0px;
  margin-right: -196px;
}

/*
 * The layout when there is only one sidebar, the right one.
 */
/* line 112, ../../sass/layouts/fixed-width.scss */
.sidebar-second #content {
  /* Span 4 columns, starting in 1st column from left. */
  float: left;
  width: 764px;
  margin-left: 0px;
  margin-right: -784px;
}
/* line 116, ../../sass/layouts/fixed-width.scss */
.sidebar-second .region-sidebar-second {
  /* Span 1 column, starting in 5th column from left. */
  float: left;
  width: 176px;
  margin-left: 784px;
  margin-right: -980px;
}

/*
 * The layout when there are two sidebars.
 */
/* line 126, ../../sass/layouts/fixed-width.scss */
.two-sidebars #content {
  /* Span 3 columns, starting in 2nd column from left. */
  width: 400px;
}
/* line 131, ../../sass/layouts/fixed-width.scss */
.two-sidebars .region-sidebar-first {
  /* Span 1 column, starting in 1st column from left. */
  width: 200px;
}
/* line 136, ../../sass/layouts/fixed-width.scss */
.two-sidebars .region-sidebar-second {
  /* Span 1 column, starting in 5th column from left. */
  width: 200px;
}
