//
// @file
// This file sets up all our variables and load all the modules we need for all
// generated CSS in this project. To use it, simply: @import "init";
//

// Legacy browser variables for Compass.
$legacy-support-for-ie6     : false;
$legacy-support-for-ie7     : false;

// Set up Zen Grids.
$zen-column-count           : 1;
$zen-gutter-width           : 20px;
$zen-auto-include-item-base : false;

//
// Import our modules.
//
@import "zen";
@import "zen/background";
@import "visually-hidden";
