/**
 * @file
 * Test zen-grid-background()
 */

@import "zen/background";

#test-zen-grid-background {
  /* Test zen-grid-background() with 1 column grid and 20px gutter */
  $zen-grid-numbers: top;
  @include zen-grid-background();
  $zen-grid-numbers: both;

  // Turn off numbers for all other tests.
  $zen-grid-numbers: none;

  /* Test zen-grid-background() with 12 column grid and 20px gutter */
  $zen-column-count: 12;
  @include zen-grid-background();
  $zen-column-count: 1;

  /* Test zen-grid-background(), 5 column grid, 10% gutter and black grid color */
  $zen-column-count: 5;
  $zen-gutter-width: 10%;
  $zen-grid-color: #000;
  @include zen-grid-background();
  $zen-column-count: 1;
  $zen-gutter-width: 20px;
  $zen-grid-color: rgba(#ffdede, 0.8);

  /* Test zen-grid-background() with 5 column grid and 40px gutter */
  $zen-column-count: 5;
  $zen-gutter-width: 40px;
  @include zen-grid-background();
  $zen-column-count: 1;
  $zen-gutter-width: 20px;

  /* Test zen-grid-background(), 5 column grid and 10% gutter and $zen-reverse-all-floats */
  $zen-column-count: 5;
  $zen-gutter-width: 10%;
  $zen-reverse-all-floats: true;
  @include zen-grid-background();
  $zen-column-count: 1;
  $zen-gutter-width: 20px;
  $zen-reverse-all-floats: false;

  /* Test zen-grid-background() with 5 column grid and 40px gutter and $zen-reverse-all-floats */
  $zen-column-count: 5;
  $zen-gutter-width: 40px;
  $zen-reverse-all-floats: true;
  @include zen-grid-background();
  $zen-column-count: 1;
  $zen-gutter-width: 20px;
  $zen-reverse-all-floats: false;

  /* Test zen-grid-background() with $zen-grid-width: 1000px, 5 column grid and 40px gutter */
  $zen-grid-width: 1000px;
  $zen-column-count: 5;
  $zen-gutter-width: 40px;
  @include zen-grid-background();
  $zen-grid-width: 100%;
  $zen-column-count: 1;
  $zen-gutter-width: 20px;

  /* Test zen-grid-background() with all 24 grid numbers */
  $zen-column-count: 24;
  @include zen-grid-background();
  $zen-column-count: 1;
}
