/**
 * @file
 * Test zen-float()
 */
#test-zen-float {
  /* Test zen-float() */
  float: left;
  /* Test zen-float() with $zen-float-direction: right */
  float: right;
  /* Test zen-float(left) */
  float: left;
  /* Test zen-float(left, $reverse-all-floats: TRUE) */
  float: right;
  /* Test zen-float(left) with: $zen-reverse-all-floats: TRUE; */
  float: right;
}
